.cont .elm {
    overflow: hidden;
}
.cont .elm .cover{
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 300ms;
    overflow: hidden;
}
.cont .elm:nth-child(3n-2) .cover{
    background-color: rgba(115,0, 255, 0.25);
}
.cont .elm:nth-child(3n-1) .cover{
    background-color: rgba(0, 115, 255, 0.25);
}
.cont .elm:nth-child(3n) .cover{
    background-color: rgba(255, 0, 217, 0.25);
}
.cont .elm:hover .cover{
    opacity: 1;
}
.cont .elm .cover .first ,.cont .elm .cover .secound{
    position: absolute;
    inset: 8px;
}
.cont .elm:nth-child(3n) .cover .first ,.cont .elm:nth-child(3n) .cover .secound{
    inset: 14px;
}
.cont .elm .cover .first::before ,
.cont .elm .cover .first::after,
.cont .elm .cover .secound::before ,
.cont .elm .cover .secound::after{
    content :"";
    position:absolute;
    background-color: white;

}
/* 3n-2  */
.cont .elm:nth-child(3n-2) .cover .first::before{
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}
.cont .elm:nth-child(3n-2):hover .cover .first::before{
    transition: width 300ms 300ms;
    width: 100%;
    height: 3px;
}
.cont .elm:nth-child(3n-2) .cover .first::after{
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}
.cont .elm:nth-child(3n-2):hover .cover .first::after{
    transition: height 300ms 300ms;
    height: 100%;
    width: 3px;
}
.cont .elm:nth-child(3n-2) .cover .secound::before{
    top: 0;
    right: 0;
    width: 0;
    height: 0;
}
.cont .elm:nth-child(3n-2):hover .cover .secound::before{
    transition: height 300ms 600ms;
    height: 100%;
    width: 3px;
}
.cont .elm:nth-child(3n-2) .cover .secound::after{
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
}
.cont .elm:nth-child(3n-2):hover .cover .secound::after{
    transition: width 300ms 600ms;
    width: 100%;
    height: 3px;
}
/* 3n-1  */
.cont .elm:nth-child(3n-1) .cover .first::before{
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}
.cont .elm:nth-child(3n-1):hover .cover .first::before{
    transition: width 300ms 300ms;
    width: 100%;
    height: 3px;
}
.cont .elm:nth-child(3n-1) .cover .first::after{
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}
.cont .elm:nth-child(3n-1):hover .cover .first::after{
    transition: height 300ms 300ms;
    height: 100%;
    width: 3px;
}
.cont .elm:nth-child(3n-1) .cover .secound::before{
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
}
.cont .elm:nth-child(3n-1):hover .cover .secound::before{
    transition: width 300ms 300ms;
    width: 100%;
    height: 3px;
}
.cont .elm:nth-child(3n-1) .cover .secound::after{
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
}
.cont .elm:nth-child(3n-1):hover .cover .secound::after{
    transition: height 300ms 300ms;
    height: 100%;
    width: 3px;
}

/* 3n  */



.cont .elm:nth-child(3n) .cover .first:before{
    top: 0;
    left: -6px;
    width: 0;
    height: 0;
}
.cont .elm:nth-child(3n):hover .cover .first:before{
    transition: width 300ms 300ms;
    width: 110%;
    height: 3px;
}
.cont .elm:nth-child(3n) .cover .first:after{
    top: -6px;
    right: 0;
    width: 0;
    height: 0;
}
.cont .elm:nth-child(3n):hover .cover .first:after{
    transition: height 300ms 600ms;
    height: 110%;
    width: 3px;
}
.cont .elm:nth-child(3n) .cover .secound:before{
    bottom: 0;
    right: -6px;
    width: 0;
    height: 0;
    
}
.cont .elm:nth-child(3n):hover .cover .secound:before{
    transition: width 300ms 900ms;
    width: 110%;
    height: 3px;
}
.cont .elm:nth-child(3n) .cover .secound:after{
    bottom: -6px;
    left: 0;
    width: 0;
    height: 0;
    
}
.cont .elm:nth-child(3n):hover .cover .secound:after{
    transition: height 300ms 1200ms;
    width: 3px;
    height: 110%;
}
.cont .elm img{
    transition: all 300ms;
}
.cont .elm:hover img{
    transform: scale(1.2) ;
    rotate: 5deg;
}

.text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 20;
    opacity: 0;
}
.cont .elm:hover .text{
    transition: opacity  300ms;
    transition: transform  300ms;
    transform: translate(20px,20px);
   opacity: 1;
}
.text h1{
    color: white;
    font-size: 30px;
    font-weight: 500;
}
.text p{
    color: #e5e5e5;
    font-size: 14px;
    font-weight: 500;
    width: 70%;
    padding: 7px ;
}